# App
NODE_ENV="production"
APP_TIMEZONE="Asia/Jakarta"
APP_NAME="Version Watcher"
APP_HOST="127.0.0.1"
APP_PORT="3030"

# Token
GITHUB_TOKEN=""
TELEGRAM_BOT_TOKEN=""
WEBHOOK_SECRET_TOKEN="<auto_generated>"
WEBHOOK_URL=""

# Database
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"
DATABASE_NAME="dev_version_watcher"
DATABASE_USER="dev"
DATABASE_PASSWORD="dev"
DATABASE_MAX_CONNECTIONS="10"

# For kysely-codegen
DATABASE_URL="postgres://dev:dev@127.0.0.1:5432/dev_version_watcher"
